@import url(http://fonts.googleapis.com/css?family=Roboto:100,200,300);


.checkbox-input {
  display: none;
}

.checkbox-label, .checkbox-text, .checkbox-text--description {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.checkbox-label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  padding: 30px 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  margin: 16px 0;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  box-shadow: inset 0 0 0 0 #2196F3;
}
.checkbox-label:before {
  content: "";
  position: absolute;
  top: 75%;
  right: 16px;
  width: 40px;
  height: 40px;
  opacity: 0;
  background-color: #2196F3;
  background-image: url(http://lorenzodianni.io/codepen/icon/done--white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border-radius: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.checkbox-text--title {
  font-weight: 100;
}
.checkbox-text--description {
  font-size: 14px;
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #2196F3;
}
.checkbox-text--description .un {
  display: none;
}

.checkbox-input:checked + .checkbox-label {
  border-color: #2196F3;
  box-shadow: inset 0 -12px 0 0 #2196F3;
}
.checkbox-input:checked + .checkbox-label:before {
  top: 0;
  opacity: 1;
}
.checkbox-input:checked + .checkbox-label .checkbox-text {
  -webkit-transform: translate(0, -8px);
  transform: translate(0, -8px);
}
.checkbox-input:checked + .checkbox-label .checkbox-text--description {
  border-color: #d9d9d9;
}
.checkbox-input:checked + .checkbox-label .checkbox-text--description .un {
  display: inline-block;
}

@media screen and (min-width: 140px) {
  .checkbox-label {
    width: 30%;
    margin: 5px;
  }
}
